<!-- <header class="bg-success"> -->
<header>
    <div class="header-img">
        <img src="./assets/elea-logo-v2@2x.png" alt="elea-logo">
    </div>
    <div class="header-title">
        <h2>Autodiagnóstico</h2>
    </div>
</header>

<main class="contenedor-resultados">
    <div class="div-contenedor-resultados">
        <div id="datos-usuario">
            <ul class="txt-fw500">
                <li>{{ usuario.nombre | titlecase }} {{ usuario.apellido | titlecase }}</li>
                <li>DNI: {{ usuario.dni | uppercase }}</li>
                <li *ngIf="usuario.nroLegajo !== '0'">Legajo: {{ usuario.nroLegajo }}</li>
            </ul>
            
            <p class="font-color-gris">Recordá siempre las medidas sanitarias</p>
        </div>

        <div id="hr-1">
            <hr>
        </div>

        <div id="estado-usuario" [ngClass]="resultado.resultado ? 'txt-success' : 'txt-danger'">
            <h3 class="txt-fw500" >{{ resultado.resultado ? 'Habilitado' : 'No habilitado' }}</h3>
            
            <!-- <span class="txt-fw500">[{{ lugarAccesoService.getLugarAccesoPorId(usuario.idLugarAcceso).descripcionLugarAcceso }}]</span> -->
            <span class="txt-fw500">[{{ nombreLugarAcceso }}]</span>

            <!-- <div class="font-color-gris txt-fw500">
                <p class="fechas-autodiag">Generado el:</p>
                <p class="fechas-autodiag fechas-margin">{{ resultado.fecha_autodiagnostico | date:'dd/MM/yyyy HH:mm:ss' }}</p>
                <p class="fechas-autodiag">Vence el:</p>
                <p class="fechas-autodiag fechas-margin">{{ resultado.fecha_hasta_resultado | date:'dd/MM/yyyy HH:mm:ss' }}</p>
            </div> -->
            <div class="font-color-gris txt-fw500">
                <p class="fechas-autodiag">Generado el: {{ resultado.fecha_autodiagnostico | date:'dd/MM/yyyy HH:mm:ss' }}</p>
                <p class="fechas-autodiag">Vence el: {{ resultado.fecha_hasta_resultado | date:'dd/MM/yyyy HH:mm:ss' }}</p>
            </div>

            <!-- <p *ngIf="!resultado.resultado">Usted no está habilitado para concurrir al trabajo. Por favor, comuníquese con Servicio Médico por teléfono o Whatsapp al 011 3867-3669.</p> -->
            <p *ngIf="!resultado.resultado">{{ msjNoHabilitado }}</p>
        </div>

        <!-- <div id="qr-datos" *ngIf="resultado.resultado"> -->
        <div id="imagen-evento-div" *ngIf="resultado.resultado && 
                                        ((mostrarImagenEventoEmpleados && usuario.nroLegajo !== '0')
                                        || (mostrarImagenEventoExternos && usuario.nroLegajo === '0'))">
            <!-- <img id="qr-image" src="assets/qr-code.png" alt="qr-resultado"> -->
            <img id="imagen-evento-img" src="assets/imagen-evento.png" alt="imagen-evento">
        </div>
        
        <div id="hr-2">
            <hr>
        </div>

        <div id="datos-resultado" class="font-color-gris">
            <h3 class="txt-fw500">Autodiagnóstico</h3>
            <!-- <span [ngClass]="resultado.resultado ? 'txt-success' : 'txt-danger'">{{ resultado.temperaturaLabel }}</span><br>
            <span [ngClass]="resultado.resultado ? 'txt-success' : 'txt-danger'">{{ resultado.sintomasLabel }}</span><br>
            <span [ngClass]="resultado.resultado ? 'txt-success' : 'txt-danger'">{{ resultado.contactoEstrechoLabel }}</span><br>
            <span [ngClass]="resultado.resultado ? 'txt-success' : 'txt-danger'">{{ resultado.antecedentesLabel }}</span> -->
            <div class="labels">
                <span >{{ resultado.temperaturaLabel }}</span><br>
                <span >{{ resultado.sintomasLabel }}</span><br>
                <span >{{ resultado.contactosEstrechoLabel }}</span><br>
                <span >{{ resultado.antecedentesLabel }}</span><br>
                <span>Vacunación contra el COVID-19:</span>
                <!-- <ul class="info-vacunas">
                    <li>- 1er dosis: {{resultado.dosisUno}}</li>
                    <li>- 2da dosis: {{resultado.dosisDos}}</li>
                </ul> -->
                <ul class="info-vacunas" *ngFor="let vacunaDosis of vacunasDosis; let i=index">
                    <li>- Dosis {{ i+1 }}: {{getDescripcionVacunaPorId(vacunaDosis, i)}}</li>
                </ul>
            </div>
        </div>

        <div id="botones" class="div-boton">
            <!-- <button mat-stroked-button color="primary" *ngIf="resultado.resultado">GUARDAR PDF</button> -->
            <button mat-raised-button color="primary" (click)="cerrarSesion()">SALIR</button>
        </div>
    </div>
</main>