<h4 class="font-color-gris step-header">Si tu situación de salud contempla alguna de las siguientes opciones, seleccioná las que correspondan</h4>

<!-- FORM ANTECEDENTES -->
<form [formGroup]="formAutodiagnostico">
<!-- campos autodiagnostico -->
    <div *ngFor="let preguntaAntecedente of preguntasAntecedentes; let i=index" class="campo-checkbox" fxLayout fxLayoutAlign="start center" fxLayoutGap="16px" formArrayName="antecedentes">
        <mat-checkbox class="font-color-gris" [formControlName]="i">{{ preguntaAntecedente.descripcionPregunta }}</mat-checkbox>
    </div>
<!-- fin campos -->
</form>

<br>
<h4 class="font-color-gris step-header">Los siguientes campos están destinados a informar su situación relacionada a la vacunación contra el COVID-19</h4>

<!-- FORM VACUNAS -->
<form [formGroup]="formVacunas">
    <div fxLayout="column" *ngFor="let preguntaVacunacion of preguntasVacunacion; let i=index"
            formArrayName="vacunas">
        <label class="font-color-gris">
            {{ preguntaVacunacion.descripcionPregunta }}
        </label>
        <mat-form-field appearance="fill">
            <mat-select [formControlName]="i" required>
                <mat-option value="0">Ninguna</mat-option>
                <mat-option *ngFor="let vacuna of vacunas" value="{{ vacuna.idVacuna }}">{{ vacuna.descripcionVacuna }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <mat-error *ngIf="formVacunas.errors">Si no selecciona ninguna vacuna como primer dosis, el valor por defecto de la segunda dosis será "Ninguna".</mat-error>

</form>