<div class="contenido-stepper">
  <!-- boton paso anterior -->
  <div class="btn-autodiagnostico-atras">
      <button mat-button matStepperPrevious>
          <mat-icon>arrow_back</mat-icon>
      </button>
  </div>
  <!-- fin boton paso anterior -->

  <h4 class="font-color-gris step-header">Resumen de autoevaluación</h4>

  <ul class="font-color-gris">
    <li>Mi temperatura es: {{ temperatura.value | number:'1.1-1' }}°</li>
    <li>{{ validarSintomas() ? 'Con' : 'Sin' }} síntomas</li>
    <li>{{ validarContactoEstrecho() ? 'Con' : 'Sin' }} contacto estrecho</li>
    <li>{{ validarAntecedentes() ? 'Con' : 'Sin' }} antecedentes</li>
    <li>Vacunación contra el COVID-19:</li>
    <ul class="info-vacunacion" *ngFor="let vacunaDosis of vacunasDosis; let i=index">
      <!-- TODO: MANEJAR CON EL FORM HECHO AHORA CON UN ARRAY -->
      <!-- <li>- 1er dosis: {{getDescripcionVacunaPorId(formVacunas.get('dosisUno')?.value)}}</li>
      <li>- 2da dosis: {{getDescripcionVacunaPorId(formVacunas.get('dosisDos')?.value)}}</li> -->
      <li>- Dosis {{ i+1 }}: {{ getDescripcionVacunaPorId(vacunaDosis) }}</li>
      <!-- <li>- Dosis {{ i+1 }}: {{ vacunaDosis }}</li> -->
    </ul>
  </ul>

  <!-- botones resetear - confirmar -->
  <div fxLayout="column" fxLayoutAlign="center center">
    <!-- <button mat-stroked-button color="primary" (click)="reset(stepper)">HACER OTRO AUTODIAGNÓSTICO</button> -->
    <button mat-stroked-button color="primary" (click)="reset(stepper)">Volver a empezar</button>
    <button mat-raised-button color="primary" (click)="openDialog()">CONFIRMAR</button>
  </div>
  <!-- fin botones resetear - confirmar -->

</div>

<!-- SPINNER -->
<!-- <div [ngClass]="!loading ? 'hidden' : ''">
    <mat-grid-list cols="1">
        <mat-grid-tile>
            <mat-spinner diameter="70" strokeWidth="10"></mat-spinner>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->