<form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column" fxLayoutAlign="space-between stretch">
    <!-- DNI -->
    <mat-form-field appearance="fill">
        <mat-label>DNI</mat-label>
        <input matInput formControlName="dni" type="text" maxlength="8" required>
        <mat-error *ngIf="this.form.get('dni').invalid">{{getErrorMessage('dni')}}</mat-error>
    </mat-form-field>

    <!-- NOMBRE -->
    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" type="text" maxlength="50" required>
        <mat-error *ngIf="this.form.get('nombre').invalid">{{getErrorMessage('nombre')}}</mat-error>
    </mat-form-field>

    <!-- APELLIDO -->
    <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido" type="text" maxlength="50" required>
        <mat-error *ngIf="this.form.get('apellido').invalid">{{getErrorMessage('apellido')}}</mat-error>
    </mat-form-field>

    <!-- TELEFONO -->
    <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" type="text" maxlength="20" required>
        <mat-error *ngIf="this.form.get('telefono').invalid">{{getErrorMessage('telefono')}}</mat-error>
    </mat-form-field>

    <!-- EMPRESA -->
    <mat-form-field appearance="fill">
        <mat-label>Empresa</mat-label>
        <input matInput formControlName="empresa" type="text" required>
        <mat-error *ngIf="this.form.get('empresa').invalid">{{getErrorMessage('empresa')}}</mat-error>
    </mat-form-field>

    <!-- EMAIL -->
    <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="emailUsuario" type="text" required>
        <mat-error *ngIf="this.form.get('emailUsuario').invalid">{{getErrorMessage('emailUsuario')}}</mat-error>
    </mat-form-field>
    <br>

    <!-- LUGAR DE ACCESO -->
    <mat-form-field appearance="fill">
        <mat-label>Lugar de acceso</mat-label>
        <mat-select formControlName="idLugarAcceso" required>
            <mat-option *ngFor="let lugarAcceso of lugaresAcceso" value="{{ lugarAcceso.idLugarAcceso }}">{{ lugarAcceso.descripcionLugarAcceso }}</mat-option>
        </mat-select>
        <mat-error *ngIf="this.form.get('idLugarAcceso').invalid">{{getErrorMessage('idLugarAcceso')}}</mat-error>
    </mat-form-field>

    <!-- CAPTCHA -->
    <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"
                                 [type]="type"
                                 [hl]="lang"
                                 formControlName="recaptcha"
                                 fxFlexAlign="center"></ngx-recaptcha2>

    <!-- TERMINOS Y CONDICIONES -->
    <!-- <div class="terminos-condiciones font-color-gris">
        <mat-checkbox formControlName="terminosCondicion">Acepto los <span class="open-dialog" (click)="openDialogTerminosCondiciones()">Términos y Condiciones</span> de la aplicación Autodiagnóstico Elea así como a la Política de Privacidad establecida en el punto 5 de los Términos y Condiciones</mat-checkbox>
    </div> -->

    <!-- BOTON SUBMIT -->
    <div class="div-boton">
        <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">SIGUIENTE</button>
    </div>
</form>