<div class="contenedor-autodiagnostico">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
    <img src="./assets/elea-logo-v2@2x.png" alt="elea-logo">
    <h2>Autoevaluación</h2>
  </div>

  <div class="div-stepper-autodiagnostico" [ngClass]="loading ? 'hidden' : ''">
    <mat-horizontal-stepper linear #stepper labelPosition="bottom" color="accent">
      
      <!-- inicio TEMPERATURA -->
      <mat-step>
        <app-temperatura></app-temperatura>
      </mat-step>
      <!-- fin TEMPERATURA -->

      
      <!-- inicio SINTOMAS -->
      <!-- <mat-step [stepControl]="sintomas"> -->
      <mat-step>
        <app-sintomas></app-sintomas>
      </mat-step>
      <!-- fin SINTOMAS -->
      
      
      <!-- inicio ANTECEDENTES -->
      <mat-step>
        <app-antecedentes></app-antecedentes>
      </mat-step>
      <!-- fin ANTECEDENTES -->

      <!-- inicio RESUMEN -->
      <mat-step>
        <app-resumen [stepper]="stepper" (isLoading)="isLoading($event)"></app-resumen>
      </mat-step>
      <!-- fin RESUMEN -->

    </mat-horizontal-stepper>
  </div>

  <!-- SPINNER -->
  <div [ngClass]="!loading ? 'hidden' : ''" class="spinner">
      <!-- <mat-grid-list cols="1">
          <mat-grid-tile>
          </mat-grid-tile>
      </mat-grid-list> -->
      <!-- <div fxLayout fxLayout="center start"> -->
      <div class="centrado">
        <mat-spinner diameter="70" strokeWidth="10"></mat-spinner>
      </div>
  </div>
</div>