img {
    width: 150px;
}

@media screen and (min-width: 400px) {
    img {
        width: 170px;
    }
}

h2 {
    margin-bottom: 0;
}
h2, h4 {
    text-align: center;
}

.contenedor-autodiagnostico {
    padding: 3em 0;
}

.div-stepper-autodiagnostico {
    width: 80%;
    margin: 0 auto;
}

@media screen and (min-width: 775px) {
    .div-stepper-autodiagnostico {
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    .div-stepper-autodiagnostico {
        width: 65%;
    }
}

@media screen and (min-width: 1400px) {
    .div-stepper-autodiagnostico {
        width: 50%;
    }
}

.spinner {
    margin-top: 2em;
}