.contenedor-home {
    height: 100vh;
}

h2 {
    text-align: center;
}

img {
    width: 172px;
}

@media screen and (min-width: 400px) {
    img {
        width: 200px;
    }
}

button[mat-raised-button] {
    width: auto;
}