<div class="contenedor-ingreso" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="1.5rem">
    <img src="./assets/elea-logo-v2@2x.png" alt="elea-logo">

    <div class="icon-circle" fxLayout fxLayoutAlign="center center" color="primary">
        <i class="far fa-address-card"></i>
    </div>    
    
    <div class="div-formulario-usuario">
        <!-- FORMULARIO -->
        <div [ngClass]="loading ? 'hidden' : ''">
            <div class="datos-pers">
                <p class="p1 font-color-gris">Para empezar necesitamos tus datos personales</p>
                
                <mat-checkbox [(ngModel)]="checked">¿Trabajás en ELEA?</mat-checkbox>
        
                <p class="p2 font-color-gris">
                    Tu información está protegida por la ley y es para uso exclusivo de las autoridades sanitarias.
                </p>
            </div>
            <app-empleado (isLoading)="isLoading($event)" [lugaresAcceso]="lugaresAcceso" class="formulario-usuario" *ngIf="checked"></app-empleado>
            <app-visitante (isLoading)="isLoading($event)" [lugaresAcceso]="lugaresAcceso" class="formulario-usuario" *ngIf="!checked"></app-visitante>
        </div>

        <!-- SPINNER -->
        <div [ngClass]="!loading ? 'hidden' : ''">
            <mat-grid-list cols="1">
                <mat-grid-tile>
                    <mat-spinner diameter="70" strokeWidth="10"></mat-spinner>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</div>