<form [formGroup]="formAutodiagnostico" class="contenido-stepper">

    <!-- boton paso anterior -->
    <!-- <div class="sticky"> -->

        <div class="btn-autodiagnostico-atras">
            <button mat-button type="button" matStepperPrevious>
                <mat-icon>arrow_back</mat-icon>
            </button>
        </div>
    <!-- </div> -->
    <!-- fin boton paso anterior -->


    <!-- campos -->
    <!-- <div *ngFor="let preguntaSintoma of txtPreguntasSintomas; let i=index" -->
    <div *ngFor="let preguntaSintoma of preguntasSintomas; let i=index"
          fxLayout="column" formArrayName="sintomas">
        <mat-label class="font-color-gris step-header">{{ preguntaSintoma.descripcionPregunta }}</mat-label>
        <mat-radio-group [formControlName]="i" fxLayout="column" required>
            <mat-radio-button value="si"><span class="txt-radio-button">SI</span></mat-radio-button>
            <mat-radio-button value="no"><span class="txt-radio-button">NO</span></mat-radio-button>
        </mat-radio-group>
    </div>
    <!-- fin campos -->

    <!-- botones atras - siguiente -->
    <!-- <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxFill="100" fxFill.gt-sm="50"> -->
    <div class="div-boton">
        <button mat-raised-button color="primary" type="button" matStepperNext>SIGUIENTE</button>
    </div>
    <!-- fin botones atras - siguiente -->

</form>