h4 {
    margin-bottom: 1em !important;
}

.campo-antecedente {
    margin-bottom: 1.25em;
}











/* label {
    font-weight: 500;
    line-height: 1em;
} */

/* input[type=checkbox], input[type=checkbox]:checked {
    width: 1.5em;
    height: 1.5em;
}
input[type=checkbox]:checked {
    background-color: blue;
} */