<form [formGroup]="autodiagnosticoService.antecedentes">
    
    <!-- boton paso anterior -->
    <div class="btn-autodiagnostico-atras">
        <button mat-button type="button" matStepperPrevious>
            <mat-icon>arrow_back</mat-icon>
            <!-- <span>Atrás</span> -->
        </button>
    </div>
    <!-- fin boton paso anterior -->


    <h4 class="font-color-gris step-header">Si tu situación de salud contempla alguna de las siguientes opciones, seleccioná las que correspondan</h4>

    <!-- campos -->
    <div *ngFor="let campoAntecedente of txtCamposAntecedentes; let i=index" class="campo-antecedente" fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
        <mat-checkbox class="font-color-gris" formControlName="antecedente_{{i}}">{{ campoAntecedente }}</mat-checkbox>
    </div>
    <!-- fin campos -->

    <!-- boton paso siguiente -->
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxFill="100" fxFill.gt-sm="50">
      <button class="btn-autodiagnostico" mat-raised-button color="primary" type="button" matStepperNext>SIGUIENTE</button>
    </div>
    <!-- fin boton paso siguiente -->

</form>