<!-- <form [formGroup]="temperatura"> -->
  
  <!-- boton paso anterior -->
  <div class="btn-autodiagnostico-atras">
    <button mat-button (click)="volverIngreso()">
        <mat-icon>arrow_back</mat-icon>
        <span class="btn-atras-leyenda">INICIO</span>
    </button>
  </div>
  <!-- fin boton paso anterior -->


  <h4 class="font-color-gris step-header">¿Cuál es tu temperatura corporal actual?</h4>

  <!-- botonera temperatura -->
  <div class="botonera" fxLayout fxLayoutAlign="center center">
    <button mat-mini-fab color="primary" type="button" (click)="cambiarTemp(-0.1)"><mat-icon>remove</mat-icon></button>
    <!-- <span class="valorTemp">{{ temperaturaGrados | number:'1.1-1' }}</span> -->
    <span class="valorTemp">{{ temperaturaGrados | number:'1.1-1' }}</span>
    <button mat-mini-fab color="primary" type="button" (click)="cambiarTemp(0.1)"><mat-icon>add</mat-icon></button>
  </div>
  <!-- fin botonera temperatura -->

  <!-- campo (oculto !) -->
  <!-- <mat-form-field class="hidden">
    <input matInput formControlName="tempGrados" type="text" [(ngModel)]="temperaturaGrados">
  </mat-form-field> -->
  <!-- fin campos -->

  <!-- CONSEJOS PARA MEDIR TEMPERATURA -->
  <div class="font-color-gris div-consejos" fxLayout="column" fxLayoutAlign="start center">
    <h5>Consejos para medir la temperatura</h5>
    <div fxLayout="column" fxLayoutGap="16px">
      <div fxLayout fxLayoutAlign="center start" fxLayoutAlign.gt-xs="center center" fxLayoutGap="16px">
        <div class="icon-circle-num"><span>1</span></div>
        <div fxFlex="70" fxFlex.sm="80" fxFlex.gt-sm="90" class="txt-consejo">Medí la temperatura siempre en el mismo lugar (oído y axila), ya que de otro modo pueden variar los valores.</div>
      </div>
      <div fxLayout fxLayoutAlign="center start" fxLayoutAlign.gt-xs="center center" fxLayoutGap="16px">
        <div class="icon-circle-num"><span>2</span></div>
        <div fxFlex="70" fxFlex.sm="80" fxFlex.gt-sm="90" class="txt-consejo">No se debe tomar la temperatura después del baño o de haber finalizado una actividad física. Esperá por lo menos 20 minutos para hacerlo.</div>
      </div>
      <div fxLayout fxLayoutAlign="center start" fxLayoutAlign.gt-xs="center center" fxLayoutGap="16px">
        <div class="icon-circle-num"><span>3</span></div>
        <div fxFlex="70" fxFlex.sm="80" fxFlex.gt-sm="90" class="txt-consejo">La fiebre hay que medirla, no hay que fiarse de la percepción que se tenga al tocar la frente.</div>
      </div>
      <div fxLayout fxLayoutAlign="center start" fxLayoutAlign.gt-xs="center center" fxLayoutGap="16px">
        <div class="icon-circle-num"><span>4</span></div>
        <div fxFlex="70" fxFlex.sm="80" fxFlex.gt-sm="90" class="txt-consejo">Los termómetros deben ser seguros, que no se rompan.</div>
      </div>
    </div>
  </div>

  <!-- botones atras - siguiente -->
  <!-- <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.gt-sm="3px" fxFill="100" fxFill.gt-sm="50"> -->
    <button class="btn-autodiagnostico" mat-raised-button color="primary" type="button" matStepperNext (click)="validar()">SIGUIENTE</button>
  <!-- </div> -->
  <!-- fin botones atras - siguiente -->

  <!-- </form> -->