h4, h5 {
    text-align: center;
}


h5, .txt-consejo{
    line-height: 1em;
}

/* h4 {
    font-size: 1.2em;
    line-height: 1.1em;
    margin-bottom: 2em;
} */

h5 {
    font-weight: 600;
    font-size: 1.1em;
    /* margin-top: 2em; */
}

.botonera {
    margin: 0 0 2em;
    padding-top: 1em;
}

.div-consejos {
    margin-bottom: 1.5em;
}

.txt-consejo {
    font-weight: 500;
}

.hidden {
    display: none;
}

.valorTemp {
    font-size: 2em;
    margin: 0 .75em;
}


.icon-circle-num {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background-color: #555;
}

.icon-circle-num span {
    font-weight: 500;
    font-size: 1em;
    color: #fff;
}



.btn-atras-leyenda {
    position: relative;
    top: 1.5px;
}