html, body { 
    height: 100%;
    font-family: Roboto, sans-serif;
}
body {
    margin: 0;
    background-color: #ddd;
}

.contenedor {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
}
@media screen and (min-width: 600px) {
    .contenedor {
        width: 85%;
    }
}

/* utilities */
.font-color-gris {
    color: #555;
}


/* ========= */
/*  BOTONES  */
/* ========= */
button[mat-raised-button] {
    margin-top: 2em;
    padding: 1em 2em;
    border-radius: 3em;
    min-width: 40%;
}

button[mat-stroked-button].btn-stroked {
    border: 2px solid #3f51b5;
    border-radius: 3em;
}

button[mat-raised-button].btn-autodiagnostico, button[mat-stroked-button].btn-stroked {
    margin: 1em 0 0;
    padding: 1em 2em;
    width: 100%;
}

@media screen and (max-width: 650px) {
    button[mat-raised-button], button[mat-raised-button].btn-autodiagnostico, button[mat-stroked-button].btn-stroked {
        padding: .5em 2em;
    }
}
/* ----------- */
/* fin botones */
/* ----------- */


/* ======================== */
/*  FORMULARIOS DE INGRESO  */
/* ======================== */
.div-formulario-usuario .formulario-usuario form mat-form-field {
    margin-bottom: .5em;
}

.div-formulario-usuario .formulario-usuario form ngx-recaptcha2 {
    margin-top: .5em;
}
/* -------------------------- */
/* fin formularios de ingreso */
/* -------------------------- */


/* ========= */
/*  STEPPER  */
/* ========= */
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header, .mat-vertical-stepper-header {
    width: 80%;
    padding-bottom: 0;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #ff4081;
}


.step-header {
    font-size: 1.2em !important;
    line-height: 1.1em !important;
}

h4.step-header {
    font-weight: 600 !important;
    margin-bottom: 1em !important;
}

/* Boton paso previo */
.btn-autodiagnostico-atras {
    margin-bottom: 1em;
    position: relative;
    left: -20px;
}

/* Checkboxs */
.mat-checkbox-inner-container {
    margin-right: 15px !important;
}

.mat-checkbox-layout {
    white-space: normal !important;
}

.mat-checkbox-layout .mat-checkbox-label {
    line-height: 1.1em;
}
/* ----------- */
/* fin stepper */
/* ----------- */