html, body { 
    height: 100%;
    font-family: Roboto, sans-serif;
    font-size: 14px !important;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    html, body {
        font-size: 16px !important;
    }
}

body {
    margin: 0;
    background-color: #ddd;
}

.rellenador {
    flex: 1;
    /* background-color: #fff; */
}

.contenedor, .rellenador {
    background-color: #fff;
    width: 100%;
    margin: 0 auto;
}

@media screen and (min-width: 600px) {
    .contenedor, .rellenador {
        width: 85%;
    }
}

@media screen and (min-width: 1438px) {
    .contenedor, .rellenador {
        width: 1221px;
    }
}

/* utilities */
.font-color-gris {
    color: #555;
}

.hidden {
    display: none;
}


/* ========= */
/*  BOTONES  */
/* ========= */
.div-boton {
    text-align: center;
}

button[mat-raised-button].mat-raised-button, button[mat-stroked-button].mat-stroked-button {
    border-radius: 3em;
    min-width: 50%;
    max-width: 550px;
    width: 100%;
    margin: 1em 0 0;
    padding: .5em 2em;
}

/* button[mat-raised-button].mat-raised-button {
    margin: 2em auto 0;
} */

@media screen and (min-width: 650px) {
    button[mat-raised-button].mat-raised-button, button[mat-stroked-button].mat-stroked-button {
        padding: .75em 2em;
    }
    button[mat-stroked-button].mat-stroked-button ~ button[mat-raised-button].mat-raised-button {
        margin: 1.5em auto 0;
    }
}

button[mat-stroked-button].mat-stroked-button {
    border: 2px solid #3f51b5;
    white-space: normal;
}
/* ----------- */
/* fin botones */
/* ----------- */


/* ======================== */
/*  FORMULARIOS DE INGRESO  */
/* ======================== */
.div-formulario-usuario .formulario-usuario form mat-form-field {
    margin-bottom: .5em;
}

.div-formulario-usuario .formulario-usuario form ngx-recaptcha2 {
    margin-top: .5em;
}

.terminos-condiciones {
    background-color: #eee;
    margin: 1em 0;
    padding: .75em;
    font-size: 14px;
    border: 1px dashed #555;
}

span.open-dialog {
    text-decoration: underline;
}
/* -------------------------- */
/* fin formularios de ingreso */
/* -------------------------- */


/* ========= */
/*  STEPPER  */
/* ========= */
.contenido-stepper {
    padding: 0 1em;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header, .mat-vertical-stepper-header {
    width: 80%;
    padding-bottom: .5em;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
    background-color: #ff4081;
}

.mat-horizontal-content-container {
    padding: 0 !important;
}

.step-header {
    font-size: 1.2em !important;
    line-height: 1.1em !important;
}

h4.step-header {
    font-weight: 600 !important;
    margin-bottom: 1em !important;
}

/* Boton paso previo */
.btn-autodiagnostico-atras {
    margin-bottom: 1em;
    position: relative;
    left: -16px;
}

/* Checkboxs */
.mat-checkbox-inner-container {
    margin-right: 15px !important;
}

.mat-checkbox-layout {
    white-space: normal !important;
}

.mat-checkbox-layout .mat-checkbox-label {
    line-height: 1.1em;
}
/* ----------- */
/* fin stepper */
/* ----------- */

.centrado {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}